<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result</title>

    <link href="/files/css/styles.css" rel="stylesheet" />
</head>

<body>
    <div class="form-outmost-div-parent" style="width: 100%; flex-wrap: wrap;">
        <%  for (const element of data) { %>
            <div class="inner">
                <h4>
                    <%= element.selector %>
                </h4>
                <h6>
                    <%= element.url %>
                </h6>
                <p>
                    <%= element.result %>
                </p>
            </div>
            <% } %>

                <a href="<%= link %>" class="next <%= status %>">next</a>
    </div>
</body>

</html>